img {
    border: none;
}
#wrapper {
    
}

#header #banner {
    background: white url(../images/banner.jpg) no-repeat 10px 10px;
}
#header .nav {
    background: url(../images/head_nav.gif) repeat-x 50% bottom;
}
#header .nav .current_head_nav {
	background: url(../images/06c.png) no-repeat 50% bottom;
}
#header .nav .current_head_nav a{
	color: #06C;
}
#header hr {
    border:2px #06c solid;
}
#content {
    border-top:1px #fff solid;
    background: #F3F3F3;
}
#sidebar {
    background: #F3F3F3;
	border-right: 1px solid #DFDFDF;
}
#sidebar .sidebar_nav ul li{
    border-top: 1px solid #fff;	
    border-bottom: 1px solid #fff;	
}
#sidebar .sidebar_nav ul li:hover{
    border-top: 1px solid #aaa;	
    border-bottom: 1px solid #aaa;	
    background-image: -webkit-linear-gradient(top, #f5f5f5, #eee) ;
	background: -moz-linear-gradient(top, #f5f5f5, #eee) repeat scroll 0 0 transparent;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5',endColorstr='#eeeeee');
}
#sidebar .sidebar_nav ul li.current{
    background-image: -webkit-linear-gradient(top, #f5f5f5, #E5E5E5) ;
	background: -moz-linear-gradient(top, #f5f5f5, #E5E5E5) repeat scroll 0 0 transparent;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5',endColorstr='#E5E5E5');
    border-top: 1px solid #aaa;	
    border-bottom: 1px solid #aaa;
}
#sidebar .sidebar_nav ul li.current:hover{
    background-image: -webkit-linear-gradient(top, #f5f5f5, #eee) ;
	background: -moz-linear-gradient(top, #f5f5f5, #eee) repeat scroll 0 0 transparent;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5',endColorstr='#eeeeee');
}
#main #area {
	border: 1px solid #aaa;
	background: #fff;
}
#back_to_top {
    background-color: #666;
	background-position: 8px 13px;
}
#back_to_top:hover{
    background-color: #333;
}
#back_to_top a:hover{
    background-color: #333;
}

#footer hr {
    border:1px #06C solid;
}
#footer .copyright {
}